body {
  font-family: 'Source Sans Pro', sans-serif;
}

header, .main {
  min-width: 900px;
  max-width: 1600px;
  box-sizing: border-box;
}

.main {
  padding-bottom: 20px;
}

.primary-menu {
	background-color: #666;
}

.primary-menu .menu-link {
	color: #eee;
	font-weight: 300;
}

.primary-menu .menu-link:focus {
  background-color: #666;
  outline: none;
}

.primary-menu .menu-selected, .primary-menu .menu-selected:focus {
  background-color: #555;
}

.primary-menu .menu-heading.menu-link {
	font-weight: inherit;
}

.primary-menu .menu-link:hover {
	background-color: #888;
}

h1 {
  font-weight: normal;
}

.control-group {
  margin-bottom: 1em;
}

.form input[type="text"],
.form textarea {
  width: 300px;
}
